<ion-header>
  <ion-navbar color='custom-color'>
    <ion-title align='center'><font face="Comic sans MS">MARVEL COMICS</font></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="myBody">
  <ion-list>
    <ion-item *ngFor="let comic of comics">
      <ion-thumbnail item-start>
        <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}">
      </ion-thumbnail>
      <h2>{{comic.title}}</h2>
      <p>Fecha : {{comic.dates[0].date}}</p>
      <p>Paginas : {{comic.pageCount}}</p>
      <button ion-button clear item-end [navPush]='pushPage' [navParams]='comic.id'>View</button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <button color='custom-color2' ion-button full (click)="ngIfCtrl()"><font face="Comic sans MS">Cambiar a Buscador por {{tipo}}</font></button>
  <ion-searchbar  *ngIf="hide" [ngModel]="searchComic" (ionInput)="getSearchedComics($event)" placeholder="Buscar por Nombre"></ion-searchbar>
  <ion-searchbar searchbar-ios-toolbar-input-background='custom-color'  *ngIf="!hide" [ngModel]="searchComicbyYear" (ionInput)="getSearchedComicsbyYear($event)" placeholder="Buscar por Año" type='number'></ion-searchbar>
</ion-footer>